In [11]:
import spacy
import pandas as pd
nlp = spacy.load('en_core_web_md')

In [12]:
# Making the movies document into a 2d list
with open("movies.txt", "r") as file:
    movies = file.read()
movies = movies.strip().replace(' :', ': ')
movies_list = movies.split(sep='\n')
movies_2d = [movie.split(':', 1) for movie in movies_list]
movies_2d

# Making the titles document into a 2d list
with open("titles.txt", "r") as file:
    titles = file.read()
titles = titles.strip()
titles_list = titles.split(sep='\n')
titles_2d = [title.split(':', 1) for title in titles_list]
titles_2d

[['Movie A', ' "How to Train Your Dragon: The Hidden World"'],
 ['Movie B', ' "Reign of the Supermen"'],
 ['Movie C', ' "Suspiria"'],
 ['Movie D', ' "Holmes & Watson"'],
 ['Movie E', ' "Summer \'03"'],
 ['Movie F', ' "The Captain"'],
 ['Movie G', ' "The Last Boy"'],
 ['Movie H', ' "A Star Is Born"'],
 ['Movie I', ' "The Most Wonderful Time of the Year"'],
 ['Movie J', ' "Ladies in Black"']]

In [13]:
# Caltulating similarity between movies
movie_to_compare = 'Will he save their world or destroy it? When the Hulk becomes too dangerous for the Earth, the Illuminati trick Hulk into a shuttle and lauch him into space to a planet where the Hulk can live in peace. Unfortunately, Hulk lands on the planet Sakaar where he is sold into slavery and trained as a gladiator'
similarities = []
def movies_score(movie_to_compare):
    model_sentence = nlp(movie_to_compare)
    for movie in movies_list:
        similarity = nlp(movie).similarity(model_sentence)
        similarities.append(similarity)

In [14]:
 # Creating a data frame with movies, titles and similarity scores
df_titles = pd.DataFrame(titles_2d, columns = ['Movie', 'Title'])
df_movies = pd.DataFrame(movies_2d, columns = ['Movie', 'Description'])
df = pd.merge(df_titles, df_movies, how='outer', on='Movie')
df['Similarity'] = similarities
df

,Movie,Title,Description,Similarity
0,Movie A,"""How to Train Your Dragon: The Hidden World""",When Hiccup discovers Toothless isn't the onl...,0.777559
1,Movie B,"""Reign of the Supermen""","After the death of Superman, several new peop...",0.744611
2,Movie C,"""Suspiria""",A darkness swirls at the center of a world-re...,0.882814
3,Movie D,"""Holmes & Watson""",A humorous take on Sir Arthur Conan Doyle's c...,0.373183
4,Movie E,"""Summer '03""",A 16-year-old girl and her extended family ar...,0.666872
5,Movie F,"""The Captain""","In the last moments of World War II, a young ...",0.873344
6,Movie G,"""The Last Boy""","The world at an end, a dying mother sends her...",0.875174
7,Movie H,"""A Star Is Born""",A musician helps a young singer and actress f...,0.796800
8,Movie I,"""The Most Wonderful Time of the Year""","Corporate analyst and single mom, Jen, tackle...",0.815585
9,Movie J,"""Ladies in Black""",Adapted from the bestselling novel by Madelei...,0.697430

In [19]:
# Outputting the title of the recommended movie
def movie_choice():
    best_match = df['Similarity'].idxmax()
    best_match_title = df.loc[best_match, 'Title']
    return best_match_title


print(f'The movie you are more likely to like is: {movie_choice()}')

The movie you are more likely to like is:  "Suspiria"